.icon-48-featuredogos {
      background-image: url(../images/l_featuredogos.png);
      padding-left:60px!important;
}

.icon-48-featuredogo {
      background-image: url(../images/l_featuredogos.png);
      padding-left:60px!important;
}

