.icon-48-featuredchs {
      background-image: url(../images/l_featuredchs.png);
      padding-left:60px!important;
}

.icon-48-featuredch {
      background-image: url(../images/l_featuredchs.png);
      padding-left:60px!important;
}

